In [414]:
# Dependencies
import numpy as np
import datetime as dt
import pandas as pd
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, extract

In [415]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [416]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [417]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
#June_start = dt.date(2017, 6, 1)
#June_end = dt.date(2017, 6, 30)
#June = dt.month = 6
results = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date) == 6)

#print(results.all())

In [418]:
#  3. Convert the June temperatures to a list.
aList = list(results)

In [419]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
df = pd.DataFrame(results, columns=['date','temperature'])
df.set_index(df['date'], inplace=True)
df = df.sort_index()
#print(df.to_string(index=False))
df.to_string(index=False)

print(df)

                  date  temperature
date
2010-06-01  2010-06-01         78.0
2010-06-01  2010-06-01         73.0
2010-06-01  2010-06-01         77.0
2010-06-01  2010-06-01         69.0
2010-06-01  2010-06-01         76.0
...                ...          ...
2017-06-30  2017-06-30         76.0
2017-06-30  2017-06-30         75.0
2017-06-30  2017-06-30         75.0
2017-06-30  2017-06-30         74.0
2017-06-30  2017-06-30         75.0

[1700 rows x 2 columns]

In [420]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.

df.describe()

       temperature
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [421]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
Dec_results = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date) == 12)
#print(Dec_results.all())

In [422]:
# 7. Convert the December temperatures to a list.
Dec_aList = list(Dec_results)

In [425]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
Dec_df = pd.DataFrame(Dec_results, columns=['date','temperature'])
Dec_df.set_index(Dec_df['date'], inplace=True)
Dec_df = Dec_df.sort_index()
#print(df.to_string(index=False))
Dec_df.to_string(index=False)

print(Dec_df)

                  date  temperature
date
2010-12-01  2010-12-01         76.0
2010-12-01  2010-12-01         73.0
2010-12-01  2010-12-01         72.0
2010-12-01  2010-12-01         78.0
2010-12-01  2010-12-01         72.0
...                ...          ...
2016-12-31  2016-12-31         67.0
2016-12-31  2016-12-31         72.0
2016-12-31  2016-12-31         66.0
2016-12-31  2016-12-31         71.0
2016-12-31  2016-12-31         65.0

[1517 rows x 2 columns]

In [427]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
Dec_df.describe()

       temperature
count  1517.000000
mean     71.041529
std       3.745920
min      56.000000
25%      69.000000
50%      71.000000
75%      74.000000
max      83.000000